.layout_detail_book
	.detail_book-title Quốc Gia Tái Thiết
	.detail_book-rating
		input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.divider
	.detail_book-info
		p Tác giả: 
			a(href="#") Jonathan Tepperman
		p Ngày xuất bản: 
			strong 12-2019
		p Dịch giả: Bùi Thanh Châu
		p Nhà xuất bản: 
			a(href="#") Nhà Xuất Bản Thế Giới
		p Hình thức bìa: 
			strong Bìa mềm
		p Số trang: 200
		p Cân nặng: 139g
	.detail_book-action
		button.button.outline.primary.detail_book_button-try Đọc thử
		button.button.primary.detail_book_button-read Đọc sách