.slide_detail_book
	.slide_detail_book-main
		.slide_detail_book-main_item
			.img-box
				img(data-lazy='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
		.slide_detail_book-main_item
			.img-box
				img(data-lazy='img/books/ton-tai-hay-khong-ton-tai-nhan-loai.jpg', alt='ton-tai-hay-khong-ton-tai-nhan-loai.jpg')
		.slide_detail_book-main_item
			.img-box
				img(data-lazy='img/books/the-diem-can-bang-bien-chien-luoc-thanh-hanh-dong.jpg', alt='the-diem-can-bang-bien-chien-luoc-thanh-hanh-dong.jpg')
		.slide_detail_book-main_item
			.img-box
				img(data-lazy='img/books/tet-doan-vien-phien-ban-thuong.jpg', alt='tet-doan-vien-phien-ban-thuong.jpg')
		.slide_detail_book-main_item
			.img-box
				img(data-lazy='img/books/nhat-ban-trong-chau-a.jpg', alt='nhat-ban-trong-chau-a.jpg')
	.slide_detail_book-thumb
		.slide_detail_book-thumb_item
			.img-box
				img(data-lazy='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
		.slide_detail_book-thumb_item
			.img-box
				img(data-lazy='img/books/ton-tai-hay-khong-ton-tai-nhan-loai.jpg', alt='ton-tai-hay-khong-ton-tai-nhan-loai.jpg')
		.slide_detail_book-thumb_item
			.img-box
				img(data-lazy='img/books/the-diem-can-bang-bien-chien-luoc-thanh-hanh-dong.jpg', alt='the-diem-can-bang-bien-chien-luoc-thanh-hanh-dong.jpg')
		.slide_detail_book-thumb_item
			.img-box
				img(data-lazy='img/books/tet-doan-vien-phien-ban-thuong.jpg', alt='tet-doan-vien-phien-ban-thuong.jpg')
		.slide_detail_book-thumb_item
			.img-box
				img(data-lazy='img/books/nhat-ban-trong-chau-a.jpg', alt='nhat-ban-trong-chau-a.jpg')
