.banner_header
	ul.banner_header-menu
		li.banner_header-menu_item
			a(href="list-book.html")
				span Sách Kinh Tế - Kỹ Năng
				small (265)
			ul.banner_header-menu_sub
				a(href="list-book.html").banner_header-menu_sub--title
					span Sách Kinh Tế - Kỹ Năng
					small (265)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li.banner_header-menu_sub--item
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Kinh Tế - Chính Trị
				small (13)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Nhân Vật - Bài Học Kinh Doanh
				small (123)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Sách Khởi Nghiệp
				small (84)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Sách Quản Trị - Lãnh Đạo
				small (12)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Sách Tài Chính, Kế Toán
				small (87)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Sách Kinh Tế Học
				small (64)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Sách Quản Trị Nhân Sự
				small (104)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Sách Kỹ Năng Làm Việc
				small (124)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Nghệ Thuật Sống - Tâm Lý
				small (12)
		li.banner_header-menu_item
			a(href="list-book.html")
				span Sách Nghệ Thuật Sống
				small (42)
	.banner_header-slide
		include ../../slide/header/header.pug