.banner_doitac
	.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-06.png", alt="logo-nxb-06.jpg")
	.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-09.png", alt="logo-nxb-09.jpg")
	.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-10.png", alt="logo-nxb-10.png")
	//- .dpct
	//- 	img.banner_doitac-image(src="img/banners/logo-nxb-11.jpg", alt="logo-nxb-11.jpg")
	//- .dpct
	//- 	img.banner_doitac-image(src="img/banners/logo-nxb-14.jpg", alt="logo-nxb-14.jpg")
	.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-15.jpg", alt="logo-nxb-15.jpg")
	//- .dpct
	//- 	img.banner_doitac-image(src="img/banners/logo-nxb-17.png", alt="logo-nxb-17.png")
	//- .dpct
	//- 	img.banner_doitac-image(src="img/banners/logo-nxb-20.jpg", alt="logo-nxb-20.jpg")
	.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-23.png", alt="logo-nxb-23.jpg")
	.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-24.jpg", alt="logo-nxb-24.jpg")