.banner_doitac
	.col-lg-2.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-06.png", alt="logo-nxb-06.jpg")
	.col-lg-2.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-09.png", alt="logo-nxb-06.jpg")
	.col-lg-2.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-15.jpg", alt="logo-nxb-06.jpg")
	.col-lg-2.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-14.jpg", alt="logo-nxb-06.jpg")
	.col-lg-2.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-17.png", alt="logo-nxb-06.jpg")
	.col-lg-2.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-23.png", alt="logo-nxb-06.jpg")
	.col-lg-2.dpct
		img.banner_doitac-image(src="img/banners/logo-nxb-15.jpg", alt="logo-nxb-06.jpg")