.slide_book
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.slide_book-item--name Quốc Gia Tái Thiết
						.slide_book-item--author Jonathan Tepperman
						.slide_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/ton-tai-hay-khong-ton-tai-nhan-loai.jpg', alt='ton-tai-hay-khong-ton-tai-nhan-loai.jpg')
					figcaption
						.slide_book-item--name Tồn Tại Hay Không Tồn Tại ... Nhân Loại?
						.slide_book-item--author Nikita Moiseev
						.slide_book-item--rating
							input(data-role="rating" data-value="2.5" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/nhat-ban-trong-chau-a.jpg', alt='nhat-ban-trong-chau-a.jpg')
					figcaption
						.slide_book-item--name Nhật Bản trong Châu Á
						.slide_book-item--author Tanaka Akihiko
						.slide_book-item--rating
							input(data-role="rating" data-value="3.8" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/tranh-tet-net-tinh-hoa-truyen-thong-viet.jpg', alt='tranh-tet-net-tinh-hoa-truyen-thong-viet.jpg')
					figcaption
						.slide_book-item--name Tranh Tết - Nét tinh hoa truyền thống Việt
						.slide_book-item--author Trang Thanh Hiền
						.slide_book-item--rating
							input(data-role="rating" data-value="4.2" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/tet-doan-vien-phien-ban-thuong.jpg', alt='tet-doan-vien-phien-ban-thuong.jpg')
					figcaption
						.slide_book-item--name Tết Đoàn Viên (Phiên Bản Thường)
						.slide_book-item--author Nguyễn Quang Thiều
						.slide_book-item--rating
							input(data-role="rating" data-value="2.8" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/the-diem-can-bang-bien-chien-luoc-thanh-hanh-dong.jpg', alt='the-diem-can-bang-bien-chien-luoc-thanh-hanh-dong.jpg')
					figcaption
						.slide_book-item--name Thẻ Điểm Cân Bằng - Biến Chiến Lược Thành Hành Động (Tái Bản)
						.slide_book-item--author Robert S. Kaplan
						.slide_book-item--rating
							input(data-role="rating" data-value="4.5" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")