ul.cate-tusach
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu