ul.cate-tusach
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/ajahn-brahm.jpg", alt="ajahn-brahm.jpg")
			p Ajahn Brahm
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/brian-tracy-.jpg", alt="brian-tracy-.jpg")
			p Brian Tracy
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/bs-do-hong-ngoc.jpg", alt="bs-do-hong-ngoc.jpg")
			p Đỗ Hồng Ngọc
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/dale-carnegie.jpg", alt="dale-carnegie.jpg")
			p Dale Carnegie
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/eckhart-tolle.jpg", alt="eckhart-tolle.jpg")
			p Eckhart Tolle
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/george-ohsawa.jpg", alt="george-ohsawa.jpg")
			p George Ohsawa
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/ho-bieu-chanh.jpg", alt="ho-bieu-chanh.jpg")
			p Hồ Biểu Chánh
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/john-c-maxwell.jpg", alt="john-c-maxwell.jpg")
			p John C Maxwell
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/kahlil-gibran.jpg", alt="kahlil-gibran.jpg")
			p Kahlil Gibran
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/kim-dinh.jpg", alt="kim-dinh.jpg")
			p Kim Định
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/ajahn-brahm.jpg", alt="ajahn-brahm.jpg")
			p Ajahn Brahm
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/brian-tracy-.jpg", alt="brian-tracy-.jpg")
			p Brian Tracy
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/bs-do-hong-ngoc.jpg", alt="bs-do-hong-ngoc.jpg")
			p Đỗ Hồng Ngọc
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/dale-carnegie.jpg", alt="dale-carnegie.jpg")
			p Dale Carnegie
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/eckhart-tolle.jpg", alt="eckhart-tolle.jpg")
			p Eckhart Tolle
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/george-ohsawa.jpg", alt="george-ohsawa.jpg")
			p George Ohsawa
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/ho-bieu-chanh.jpg", alt="ho-bieu-chanh.jpg")
			p Hồ Biểu Chánh
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/john-c-maxwell.jpg", alt="john-c-maxwell.jpg")
			p John C Maxwell
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/kahlil-gibran.jpg", alt="kahlil-gibran.jpg")
			p Kahlil Gibran
	li.cate-tusach-item
		a(href="#")
			img(src="img/authors/kim-dinh.jpg", alt="kim-dinh.jpg")
			p Kim Định