extends _layout.pug

block var
	- var title = 'Trang chủ'

block main
	.banner_header_wrapper
		.container
			include ../components/banner/header/header.pug
			include ../components/slide/keyword/keyword.pug
	.block_wrapper.bg-white.py-4
		.container
			.row
				.col-12
					.slide_wrapper
						.slide_title
							h1 sách mới tuyển chọn
							a(href="#").btn-viewall Xem tất cả
						include ../components/slide/book/book.pug
					include ../components/banner/recommends/recommends-1.pug
	.block_wrapper.bg-image.py-4
		.container
			.row
				.col-12
					.slide_wrapper
						.slide_title
							h1 Sách nghệ thuật sống nên đọc
							a(href="#").btn-viewall Xem tất cả
						include ../components/slide/combo-book/index.pug
				.col-12
					.slide_wrapper
						.slide_title
							h1 SÁCH SẮP PHÁT HÀNH
							a(href="#").btn-viewall Xem tất cả
						include ../components/slide/book-reserve/index.pug
	.block_wrapper.bg-white.py-4
		.container
			.row
				.col-12
					.slide_wrapper
						.slide_title
							h1 KHUYÊN ĐỌC
							a(href="#").btn-viewall Xem tất cả
						include ../components/banner/recommends/recommends-2.pug
				.col-12
					.slide_wrapper
						include ../components/banner/doitac/index.pug