extends _layout.pug

block var
	- var title = 'List sách'

block main
	.block_wrapper.bg-image
		.container
			.row
				.col-12
					include ../components/layout/breadcrumb/index.pug
				.col-12
						.layout-title
							h1 Kinh tế chính trị
							span (Có 6 sách)
						ul.cate-list-book
							li.cate-list-book-item.active
								a(href="#")
									img(src="img/type-books/kinh-te-chinh-tri.png", alt="img/type-books/kinh-te-chinh-tri.png")
									p KINH TẾ CHÍNH TRỊ
							li.cate-list-book-item
								a(href="#")
									img(src="img/type-books/bai-hoc-kinh-doanh.png", alt="img/type-books/bai-hoc-kinh-doanh.png")
									p bài học kinh doanh
							li.cate-list-book-item
								a(href="#")
									img(src="img/type-books/khoi-nghiep.png", alt="img/type-books/khoi-nghiep.png")
									p sách khởi nghiệp
	.block_wrapper
		.container
			.row
				.col-12
					include ../components/layout/list-book/index.pug
	.block_wrapper.bg-image
		.container
			.row
				.col-12
					.slide_wrapper
							.slide_title
								h1 KHUYÊN ĐỌC
								a(href="#").btn-viewall Xem tất cả
							include ../components/banner/recommends/recommends-2.pug