doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="./css/global.min.css")
		link(rel="stylesheet" href="./css/main.min.css")
		title Đăng nhập
	body
		section.login_wrapper
			form(action="/login" method="post")#form-login
				h1 Đăng nhập
				label(for="username") Tài khoản
				.group
					input(type="text" id="username" name="username" autofocus required)
					label(for="username").mdi.mdi-account-outline
				label(for="password") Mật khẩu
				.group
					input(type="password" id="password" name="password" required)
					label(for="password").mdi.mdi-lock-outline
				a(href="#") Quên mật khẩu?
				button.btn(type="submit") Đăng nhập