extends _layout.pug

block var
	- var title = 'Điểm sách'

block main
	.block_wrapper.bg-image
		.container
			.row
				.col-12
					include ../components/layout/breadcrumb/index.pug
				.col-12.px-0
					.new-book-section
						include ../components/layout/new-book/index.pug