extends _layout.pug

block var
	- var title = 'Tủ sách'

block main
	.container
		.row
			.col-12
				include ../components/layout/breadcrumb/index.pug
			.col-12
					.layout-title
						h1 tủ sách
						span (Có n tủ sách)
					include ../components/layout/tusach/index.pug
					//- include ../components/slide/book/book.pug