.new-book-detail
	.row
		.col-12.col-lg-8
			.new-book-detail-content
				.new-book-detail-content-title
					h1 "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 26/06/2019
				.new-book-detail-content-main
					p Máu bẩn (Bad Blood) là câu chuyện đầy đủ về sự trỗi dậy ngoạn mục và sự sụp đổ gây sốc của Theranos - công ty công nghệ sinh học trị giá hàng tỷ USD một thời được thành lập bởi Elizabeth Holmes. Là ông lớn trong ngành công nghệ, song Bill Gates gọi vụ Theranos được mô tả trong sách "Máu bẩn" là "câu chuyện điên rồ ngoài sức tưởng tượng của tôi".
					p Theranos ra đời năm 2003, hoạt động trong lĩnh vực công nghệ y học, tuyên bố đã xây dựng được một công nghệ thử máu mang tính cách mạng, chỉ đòi hỏi một lượng máu rất ít với chi phí thấp hơn rất nhiều so với các công nghệ hiện tại. Được hỗ trợ bởi các nhà đầu tư như Larry Ellison và Tim Draper, Theranos đã bán cổ phần, gây quỹ trị giá hơn 9 tỷ USD.
					p Elizabeth Holmer - nhà sáng lập trẻ tuổi (sinh năm 1984), khi thành lập công ty đang là sinh viên Đại học Stanford - được ví là Steve Jobs của nữ giới. Holmer được bình chọn là một trong 100 người có ảnh hưởng nhất thế giới, Holmer cũng được bình chọn là tỷ phú nữ tự lập trẻ nhất thế giới (lúc 31 tuổi). Bà kiểm soát hơn 50% cổ phần công ty, với tài sản 4,5 tỷ USD.
					p Mọi chuyện đều thành công hết mức, duy chỉ có một vấn đề: công nghệ mà Holmer hứa hẹn không hoạt động. John Carreyrou - người hai lần đoạt giải Pulitzer - đã khám phá ra câu chuyện Theranos và theo đuổi nó đến cùng. Sau một thời gian điều tra, phóng viên John Carreyrou của The Wall Street Journalđã phơi bày trò lừa đảo ngoạn mục này. Những phát hiện của ông khiến cả thế giới công nghệ, kinh doanh sửng sốt.
					p Sau một thời gian điều tra, tới năm 2015, phóng viên John Carreyrou đã vạch ra những sai sót trong công nghệ này, từ đó đưa Theranos đối mặt với những cáo trạng về pháp lý, thương mại từ giới chức, nhà đầu tư, ủy ban giao dịch chứng khoán, bệnh nhân, đối tác...
					p Vào tháng 8/2018, Theranos tuyên bố phá sản.
					p Sách Máu bẩn kể lại quá trình Carreyrou điều tra vụ việc gây xôn xao dư luận này. Đây là câu chuyện về tham vọng, sự kiêu ngạo đặt ra giữa những lời hứa táo bạo ở Thung lũng Silicon.
					p “Bơm phồng sản phẩm của mình để nhận tiền đầu tư trong khi giấu nhẹm mức tiến triển thật sự và hy vọng rằng hiện thực cuối cùng cũng sẽ theo kịp lời bơm phồng, hành động như vậy tiếp tục được tha thứ trong ngành công nghiệp kỹ thuật này. Nhưng cần nhớ rằng Theranos không phải một công ty công nghệ theo kiểu truyền thống. Trước hết nó là một công ty chăm sóc sức khỏe. Sản phẩm của nó không phải phần mềm mà là một thiết bị y tế phân tích mẫu máu của mọi người".
					p "Như Elizabeth vẫn thích chỉ ra trong các bài phỏng vấn trên truyền thông và những lần xuất hiện công khai khi còn ở đỉnh cao danh vọng, các bác sĩ sẽ dựa vào kết quả xét nghiệm để đưa ra 70% quyết định đối với cách điều trị. Họ trông chờ thiết bị phòng thí nghiệm sẽ hoạt động như lời quảng cáo. Nếu không, sức khỏe bệnh nhân sẽ bị đe dọa”, tác giả John Carreyrou viết.
					p Ông ví “cách Theranos đang vận hành giống như việc cố gắng sản xuất một chiếc xe bus trong khi anh ta đang lái xe bus vậy. Rồi ai đó sẽ mất mạng”.
					p Máu bẩn là một trong năm cuốn sách yêu thích nhất của Bill Gates năm 2018. Ông nói: “Câu chuyện này còn điên rồ hơn tôi tưởng, và khi đã mở cuốn sách ra rồi thì tôi không thể đặt nó xuống được nữa. Trong cuốn sách này có tất cả: những trò lừa đảo tinh vi, những âm mưu trong doanh nghiệp, những câu chuyện trang bìa các tạp chí, những mối quan hệ gia đình bị hủy hoại, và sự sụp đổ của một công ty từng được định giá tới gần 10 tỷ USD”.
					p Nguồn: Zing
				.new-book-detail-content-product
					.new-book-detail-content-product-img
						img(src="img/layout/new-book/mau-ban (1).jpg", alt="1")
					.new-book-detail-content-product-caption
						.slide_book-item--name.mt-0
							a(href="detail-book.html") Máu bẩn
						.slide_book-item--author Jonathan Tepperman
						.slide_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
						a(href="detail-book.html").button.primary Đọc ngay
		.col-12.col-lg-4
			.most-read
					.most-read-title đọc nhiều nhất
					.most-read-list
						a(href="news-book-detail.html").most-read-list-item
							.most-read-list-item-img
								img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
							.most-read-list-item-caption
								h3 Cá tính của Nhật,đường đi của thiền
								p 12/12/1212
						a(href="news-book-detail.html").most-read-list-item
							.most-read-list-item-img
								img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
							.most-read-list-item-caption
								h3 Cá tính của Nhật,đường đi của thiền
								p 12/12/1212
						a(href="news-book-detail.html").most-read-list-item
							.most-read-list-item-img
								img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
							.most-read-list-item-caption
								h3 Cá tính của Nhật,đường đi của thiền
								p 12/12/1212
						a(href="news-book-detail.html").most-read-list-item
							.most-read-list-item-img
								img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
							.most-read-list-item-caption
								h3 Cá tính của Nhật,đường đi của thiền
								p 12/12/1212