.new-book-detail
	.row
		.col-12.col-lg-8
			.new-book-detail-content
				.new-book-detail-content-title
					h1 "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 12/12/1212
				.new-book-detail-content-main
					span "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				.new-book-detail-content-product
					.new-book-detail-content-product-img
						img(src="img/layout/new-book/mau-ban (1).jpg", alt="1")
					.new-book-detail-content-product-caption
						h2
							a(href="#") Máu Bẩn
						.new-book-detail-content-product-caption-rating
							ul
								li
									i.fa.fa-star
								li
									i.fa.fa-star
								li
									i.fa.fa-star
								li
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
						.new-book-detail-content-product-caption-price
							ul
								li Giá bìa:
									span.price-old 120 000đ
								li Giá bán tại đây:
									span.price-new 1đ
						a(href="#").btn-muangay Mua ngay
		.col-12.col-lg-4
			.most-read
					.most-read-title đọc nhiều nhất
					.most-read-list
						a(href="#").most-read-list-item
							.most-read-list-item-img
								img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
							.most-read-list-item-caption
								h3 Cá tính của Nhật,đường đi của thiền
								p 12/12/1212
						a(href="#").most-read-list-item
							.most-read-list-item-img
								img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
							.most-read-list-item-caption
								h3 Cá tính của Nhật,đường đi của thiền
								p 12/12/1212
						a(href="#").most-read-list-item
							.most-read-list-item-img
								img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
							.most-read-list-item-caption
								h3 Cá tính của Nhật,đường đi của thiền
								p 12/12/1212
						a(href="#").most-read-list-item
							.most-read-list-item-img
								img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
							.most-read-list-item-caption
								h3 Cá tính của Nhật,đường đi của thiền
								p 12/12/1212