.banner_recommends-2
	.col-sm-6.col-lg-3
		a(href="news-book-detail.html")
			img.banner_recommends-image(src="img/banners/sach-doc-mua-giang-sinh.jpg", alt="sach-doc-mua-giang-sinh.jpg")
		a(href="news-book-detail.html").banner_recommends-name Sách đọc mùa giáng sinh
		p.banner_recommends-time 16/11/2019
		a(href="news-book-detail.html").banner_recommends-viewdetail Xem chi tiết
	.col-sm-6.col-lg-3
		a(href="news-book-detail.html")
			img.banner_recommends-image(src="img/banners/top-5-cuon-sach-giup-dan-van-phong-len-day-cot-lam-viec-sau-ngay-dai-met-moi-420x221.jpg", alt="top-5-cuon-sach-giup-dan-van-phong-len-day-cot-lam-viec-sau-ngay-dai-met-moi-420x221.jpg")
		a(href="news-book-detail.html").banner_recommends-name Top 5 Cuốn Sách Giúp Dân Văn Phòng Lên Dây Cót Làm Việc Sau Ngày Dài Mệt Mỏi
		p.banner_recommends-time 16/11/2019
		a(href="news-book-detail.html").banner_recommends-viewdetail Xem chi tiết
	.col-sm-6.col-lg-3
		a(href="news-book-detail.html")
			img.banner_recommends-image(src="img/banners/top-5-quyen-sach-giup-ban-co-nhung-ket-noi-sau-sac-hon-trong-cuoc-song-430x226.jpg", alt="top-5-quyen-sach-giup-ban-co-nhung-ket-noi-sau-sac-hon-trong-cuoc-song-430x226.jpg")
		a(href="news-book-detail.html").banner_recommends-name Top 5 Quyển Sách Giúp Bạn Có Những Kết Nối Sâu Sắc Hơn Trong Cuộc Sống
		p.banner_recommends-time 16/11/2019
		a(href="news-book-detail.html").banner_recommends-viewdetail Xem chi tiết
	.col-sm-6.col-lg-3
		a(href="news-book-detail.html")
			img.banner_recommends-image(src="img/banners/quoc-te-phu-nu-420x221.jpg", alt="quoc-te-phu-nu-420x221.jpg")
		a(href="news-book-detail.html").banner_recommends-name Chọn Sách Gì Để Tặng Nàng Trong Ngày Quốc Tế Phụ Nữ?
		p.banner_recommends-time 16/11/2019
		a(href="news-book-detail.html").banner_recommends-viewdetail Xem chi tiết
