.banner_recommends
	a(href="#")
		img.banner_recommends-image(src="img/banners/100-tua-sach-nen-doc-trong-doi.jpg", alt="100-tua-sach-nen-doc-trong-doi.jpg")
	a(href="#")
		img.banner_recommends-image(src="img/banners/neu-toi-biet-duoc-khi-con-20.jpg", alt="neu-toi-biet-duoc-khi-con-20.jpg")
	a(href="#")
		img.banner_recommends-image(src="img/banners/khoi-nghiep-doc-gi.jpg", alt="khoi-nghiep-doc-gi.jpg")
	a(href="#")
		img.banner_recommends-image(src="img/banners/100-tua-sach-thieu-nhi-nen-doc.jpg", alt="100-tua-sach-thieu-nhi-nen-doc.jpg")
