header
	.header-top.container
		.header-logo
			a(href="index.html" style="color: #CF111A") LIBRARY
		.header-search_box
			input(type="text" placeholder="Bạn tìm sách gì?" data-role="input" data-clear-button="false" data-search-button="true" data-search-button-icon="<i class='fas fa-search'></i>")
		a(href="login.html").header-login
			span.header-login--icon
				i.fas.fa-user
			span.header-login--text Đăng nhập
	.header-navigation-m
		.header-navigation-m_left
			button.header_button-hamburger.hamburger
				i.fas.fa-bars
			ul.v-menu(data-role="dropdown")
				li
					a(href="#").dropdown-toggle
						span Sách Kinh Tế - Kỹ Năng
						small (265)
					ul.v-menu(data-role="dropdown")
						li
							a(href="list-book.html")
								span Kinh Tế - Chính Trị 
								small (225)
				li
					a(href="list-book.html")
						span Kinh Tế - Chính Trị
						small (13)
				li
					a(href="list-book.html")
						span Nhân Vật - Bài Học Kinh Doanh
						small (123)
				li
					a(href="list-book.html")
						span Sách Khởi Nghiệp
						small (84)
				li
					a(href="list-book.html")
						span Sách Quản Trị - Lãnh Đạo
						small (12)
				li
					a(href="list-book.html")
						span Sách Tài Chính, Kế Toán
						small (87)
				li
					a(href="list-book.html")
						span Sách Kinh Tế Học
						small (64)
				li
					a(href="list-book.html")
						span Sách Quản Trị Nhân Sự
						small (104)
				li
					a(href="list-book.html")
						span Sách Kỹ Năng Làm Việc
						small (124)
				li
					a(href="list-book.html")
						span Nghệ Thuật Sống - Tâm Lý
						small (12)
				li
					a(href="list-book.html")
						span Sách Nghệ Thuật Sống
						small (42)
				li
					a(href="list-book.html")
						span Sách Nghệ Thuật Sống Đẹp
						small (57)
				li
					a(href="list-book.html")
						span Sách Tâm Lý
						small (94)
				li
					a(href="list-book.html")
						span Sách Tư Duy
						small (45)
				li
					a(href="list-book.html")
						span Sách Hướng Nghiệp
						small (85)
		.header-search_box-m
			input(type="text" placeholder="Bạn tìm sách gì?" data-role="input" data-clear-button="false" data-search-button="true" data-search-button-icon="<i class='fas fa-search'></i>")
		.header-navigation-m_right
			button.header_button-tooltip.hamburger
				i.fas.fa-ellipsis-v
			ul.v-menu(data-role="dropdown")
				li
					a(href="tusach.html") TỦ SÁCH
				li
					a(href="news-book.html") ĐIỂM SÁCH
				li
					a(href="news-book.html") khuyên đọc
				li
					a(href="#") Hotline: +012 345 6789
	.header-navigation
		.container
			ul.header-navigation--nav.h-menu
				li.header-navigation--nav_item
					a(href="#").dropdow-toggle#danh-muc
						i.fas.fa-bars
						span(style="margin-left: 8px") TẤT CẢ DANH MỤC
					ul.d-menu(data-role="dropdown")
						li
							a(href="#").dropdown-toggle
								span Sách Kinh Tế - Kỹ Năng
								small (265)
							ul.d-menu(data-role="dropdown")
								.menu-title
									span Sách Kinh Tế - Kỹ Năng
									small (265)
								li
									a(href="list-book.html")
										span Sách Kinh Tế - Kỹ Năng
										small (265)
								li
									a(href="list-book.html")
										span Kinh Tế - Chính Trị
										small (13)
								li
									a(href="list-book.html")
										span Nhân Vật - Bài Học Kinh Doanh
										small (123)
								li
									a(href="list-book.html")
										span Sách Khởi Nghiệp
										small (84)
								li
									a(href="list-book.html")
										span Sách Quản Trị - Lãnh Đạo
										small (12)
						li
							a(href="list-book.html")
								span Kinh Tế - Chính Trị
								small (13)
						li
							a(href="#").dropdown-toggle
								span Nhân Vật - Bài Học Kinh Doanh
								small (123)
							ul.d-menu(data-role="dropdown")
								.menu-title
									span Nhân Vật - Bài Học Kinh Doanh
									small (123)
								li
									a(href="list-book.html")
										span Sách Kinh Tế - Kỹ Năng
										small (265)
								li
									a(href="list-book.html")
										span Kinh Tế - Chính Trị
										small (13)
								li
									a(href="list-book.html")
										span Nhân Vật - Bài Học Kinh Doanh
										small (123)
								li
									a(href="list-book.html")
										span Sách Khởi Nghiệp
										small (84)
								li
									a(href="list-book.html")
										span Sách Quản Trị - Lãnh Đạo
										small (12)
						
						li
							a(href="list-book.html")
								span Sách Khởi Nghiệp
								small (84)
						li
							a(href="list-book.html")
								span Sách Quản Trị - Lãnh Đạo
								small (12)
						li
							a(href="list-book.html")
								span Sách Tài Chính, Kế Toán
								small (87)
						li
							a(href="list-book.html")
								span Sách Kinh Tế Học
								small (64)
						li
							a(href="list-book.html")
								span Sách Quản Trị Nhân Sự
								small (104)
						li
							a(href="list-book.html")
								span Sách Kỹ Năng Làm Việc
								small (124)
						li
							a(href="list-book.html")
								span Nghệ Thuật Sống - Tâm Lý
								small (12)
						li
							a(href="list-book.html")
								span Sách Nghệ Thuật Sống
								small (42)
						li
							a(href="list-book.html")
								span Sách Nghệ Thuật Sống Đẹp
								small (57)
						li
							a(href="list-book.html")
								span Sách Tâm Lý
								small (94)
						li
							a(href="list-book.html")
								span Sách Tư Duy
								small (45)
						li
							a(href="list-book.html")
								span Sách Hướng Nghiệp
								small (85)
				li.header-navigation--nav_item
					a(href="tusach.html") TỦ SÁCH
				li.header-navigation--nav_item
					a(href="news-book.html") ĐIỂM SÁCH
				li.header-navigation--nav_item
					a(href="news-book.html") khuyên đọc
				li.header-navigation--nav_item
					a(href="#") hotline: +012 345 6789