@import "configs/_mixins.sass"
@import "header/index.sass"
@import "footer/index.sass"
body
	font-family: 'Open Sans', sans-serif
	color: #666
	font-size: 16px
	font-weight: 400
	a
		color: inherit
		font-size: inherit
		outline: none
		&:hover
			text-decoration: none
.container
	padding-left: 16px
	padding-right: 16px
.row
	margin-left: -8px
	margin-right: -8px
[class*=cell-], [class*=col-]
	padding: 8px
@import slide/slide