.slide_keyword
	.slide_keyword-item
		a(href="#") Một Đời Thương Thuyết
	.slide_keyword-item
		a(href="#") Sơn Hải Kinh
	.slide_keyword-item
		a(href="#") Thực dưỡng Ohsawa
	.slide_keyword-item
		a(href="#") Làm Chủ Quán Cà Phê
	.slide_keyword-item
		a(href="#") Người Thầy Đầu Tiên
	.slide_keyword-item
		a(href="#") Đại Tạng Kinh Việt Nam
	.slide_keyword-item
		a(href="#") Sức Mạnh Tiềm Thức
	.slide_keyword-item
		a(href="#") Triết gia Krishnamurti
	.slide_keyword-item
		a(href="#") Sách của thiền sư osho
	.slide_keyword-item
		a(href="#") Trên đường băng tony
	.slide_keyword-item
		a(href="#") Thích Nhất Hạnh
	.slide_keyword-item
		a(href="#") Lối Sống Tối Giản
	.slide_keyword-item
		a(href="#") Nguyễn Ngọc Tư
	.slide_keyword-item
		a(href="#") Khởi nghiệp tinh gọn
	.slide_keyword-item
		a(href="#") Hiểu về sự chết
	.slide_keyword-item
		a(href="#") Sách Nguyễn Duy Cần
	.slide_keyword-item
		a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod voluptatem harum! Quas beatae cum, incidunt eum quibusdam quae, laboriosam praesentium libero deleniti porro nesciunt magni saepe, velit ea animi.