.list-book-header
	.filter-tag
		label Tác giả nổi bật:
		a(href="#") Tất cả
		a(href="#") Ajahn Brahm
		a(href="#") Brian Tracy
		a(href="#") Đỗ Hồng Ngọc
		a(href="#") Dale Carnegie
		a(href="#") Eckhart Tolle
		a(href="#") George Ohsawa
		a(href="#") Hồ Biểu Chánh
	.sort
		.group
			label Hiển thị:
			select
				option 10
				option 30
				option 50
		.group
			label Xắp xếp:
			select
				option Mới nhất
				option Giá tăng dần
				option Giá giảm dần
.list_book
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.slide_book-item--name Quốc Gia Tái Thiết
						.slide_book-item--author Jonathan Tepperman
						.slide_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.slide_book-item--name Quốc Gia Tái Thiết
						.slide_book-item--author Jonathan Tepperman
						.slide_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.slide_book-item--name Quốc Gia Tái Thiết
						.slide_book-item--author Jonathan Tepperman
						.slide_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.slide_book-item--name Quốc Gia Tái Thiết
						.slide_book-item--author Jonathan Tepperman
						.slide_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.slide_book-item--name Quốc Gia Tái Thiết
						.slide_book-item--author Jonathan Tepperman
						.slide_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
	.slide_book-item_box
		.slide_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.slide_book-item--name Quốc Gia Tái Thiết
						.slide_book-item--author Jonathan Tepperman
						.slide_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")