ul.cate-list-book
	margin: 0 -5px
	display: flex
	flex-wrap: wrap
	li.cate-list-book-item
		padding: 8px
		flex: 0 0 10%
		max-width: 10%
		@media screen and ( max-width: 1199.98px )
			flex: 0 0 calc(100% / 7)
			max-width: calc(100% / 7)
		@media screen and ( max-width: 991.98px )
			flex: 0 0 calc(100% / 5)
			max-width: calc(100% / 5)
		@media screen and ( max-width: 767.98px )
			flex: 0 0 calc(100% / 3)
			max-width: calc(100% / 3)
		@media screen and ( max-width: 575.98px )
			flex: 0 0 calc(100% / 2)
			max-width: calc(100% / 2)
		&.active
			position: relative
			color: #F47123
			a
				border-color: #F47123
				box-shadow: 0 0 7px rgba(#F47123,.5)
			&::before
				z-index: 1
				position: absolute
				right: 14px
				top: 14px
				content: '\F5E0'
				display: inline-block
				font-family: 'Material Design Icons'
				font-size: inherit
				text-rendering: auto
				line-height: 1
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
		a
			display: block
			border: 1px solid #ddd
			border-radius: 4px
			background: #fff
			text-align: center
			padding: 10px
			text-transform: uppercase
			&:hover
				color: #F47123
				border-color: #F47123
				box-shadow: 0 0 7px rgba(#F47123,.5)
			img
				height: 80px
			p
				font-size: 12px
				line-height: 1.2
				text-align: center
				display: -webkit-box
				-webkit-line-clamp: 2
				-webkit-box-orient: vertical
				overflow: hidden
				text-overflow: ellipsis
				height: 28px
				max-height: 28px
.list-book-header
	min-height: 50px
	background: #fff
	display: flex
	flex-wrap: wrap
	align-items: center
	align-content: center
	justify-content: space-between
	color: #666
	padding: 10px 20px
	border-bottom: 1px solid #f2f2f2
	.filter-tag
		font-size: .8125rem
		flex: 1
		display: block
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		padding-right: 20px
		color: #F47123
		label
			padding-right: 10px
			color: #333
		a
			color: #F47123
			line-height: 1
		a+a
			margin-left: 10px
	.sort
		display: flex
		flex-wrap: wrap
		.group
			display: flex
			align-items: center
			align-content: center
			margin-bottom: 8px
			&:not(:last-child)
				margin-right: 16px
			label
				font-size: 13px
				margin-right: 8px
				margin-bottom: 0
			select
				min-width: 120px
				font-size: 13px
				color: #666
				border: 1px solid #ddd
				border-radius: 4px
				padding: 0 10px
				width: auto
				height: auto
.list_book
	display: flex
	flex-wrap: wrap
	.slide_book-item
		border: none
		&_box
			margin: 0
			flex: 0 0 calc(100% / 5)
			max-width: calc(100% / 5)
			@media screen and ( max-width: 991.98px )
				flex: 0 0 calc(100% / 4)
				max-width: calc(100% / 4)
			@media screen and ( max-width: 767.98px )
				flex: 0 0 calc(100% / 3)
				max-width: calc(100% / 3)
			@media screen and ( max-width: 575.98px )
				flex: 0 0 calc(100% / 2)
				max-width: calc(100% / 2)
@media (max-width: 1199.98px)
	.list-book-header
		.filter-tag
			display: block
			overflow: auto
			white-space: nowrap
			text-overflow: clip
			flex: unset
			padding-bottom: 8px
			border-bottom: 1px solid #f2f2f2
	.list-book-header 
		.sort
			margin-top: 16px
@media screen and ( max-width: 575.98px )
	.list-book-header
		.sort
			width: 100%
			flex-direction: column
			.group
				width: 100%
				select
					flex: 1 0 0