ul.cate-tusach
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
	li.cate-tusach-item
		a(href="#")
			img(src="img/layout/ajahn-brahm.jpg", alt="1")
			p Nguyễn Trung Hiếu
.list-book-header
	.filter-tag
		label Tác giả nổi bật
		a Tất cả
		a Nguyễn Trung Hiếu
		a Nguyễn Thành Lộc
	.sort
		.group
			label Hiển thị
			select
				option 1
				option 2
				option 3
		.group
			label Xắp xếp
			select
				option Mới
				option Cũ
.list_book
	.list_book-item_box
		.list_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.list_book-item--name Quốc Gia Tái Thiết
						.list_book-item--author Jonathan Tepperman
						.list_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
		.list_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.list_book-item--name Quốc Gia Tái Thiết
						.list_book-item--author Jonathan Tepperman
						.list_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
		.list_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.list_book-item--name Quốc Gia Tái Thiết
						.list_book-item--author Jonathan Tepperman
						.list_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
		.list_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.list_book-item--name Quốc Gia Tái Thiết
						.list_book-item--author Jonathan Tepperman
						.list_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
		.list_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.list_book-item--name Quốc Gia Tái Thiết
						.list_book-item--author Jonathan Tepperman
						.list_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")
		.list_book-item
			a(href="#")
				figure
					.img-box
						img(src='img/books/quoc-gia-tai-thiet.jpg', alt='quoc-gia-tai-thiet.jpg')
					figcaption
						.list_book-item--name Quốc Gia Tái Thiết
						.list_book-item--author Jonathan Tepperman
						.list_book-item--rating
							input(data-role="rating" data-value="3" data-cls-stars="slide_book-item--rating_stars" data-message="1 lời nhận xét" data-static="true")