.new-book-list
	.row
		.col-12.col-md-6
			a(href="#").new-book-list-big
				.new-book-list-big-img
					img(src="img/layout/new-book/mau-ban.jpg", alt="haha")
				.new-book-list-big-caption
					h1 "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 12/12/2012
		.col-12.col-md-6
			a(href="#").new-book-list-big
				.new-book-list-big-img
					img(src="img/layout/new-book/mau-ban.jpg", alt="haha")
				.new-book-list-big-caption
					h1 "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 12/12/2012
		.col-12.col-sm-6.col-md-3
			a(href="#").new-book-list-big
				.new-book-list-big-img
					img(src="img/layout/new-book/mau-ban.jpg", alt="haha")
				.new-book-list-big-caption
					h3 "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 12/12/2012
		.col-12.col-sm-6.col-md-3
			a(href="#").new-book-list-big
				.new-book-list-big-img
					img(src="img/layout/new-book/mau-ban.jpg", alt="haha")
				.new-book-list-big-caption
					h3 "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 12/12/2012
		.col-12.col-sm-6.col-md-3
			a(href="#").new-book-list-big
				.new-book-list-big-img
					img(src="img/layout/new-book/mau-ban.jpg", alt="haha")
				.new-book-list-big-caption
					h3 "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 12/12/2012
		.col-12.col-sm-6.col-md-3
			a(href="#").new-book-list-big
				.new-book-list-big-img
					img(src="img/layout/new-book/mau-ban.jpg", alt="haha")
				.new-book-list-big-caption
					h3 "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 12/12/2012
.new-book-page
	.row
		.col-12.col-lg-8
			.new-book-page-list
				.new-book-page-list-item
					a(href="#").new-book-page-list-item-img
						img(src="img/layout/new-book/70407079_322013008599945_3236682917564383232_n-thumb.jpg", alt="11")
					.new-book-page-list-item-caption
						a(href="#") Kết quả giải Sách hay lần thứ IX, năm 2019
						p 12/12/1212
						.new-book-page-list-item-caption-description
							span Tiếp nối thành công của 8 mùa giải trước, Giải Sách Hay lần thứ IX, năm 2019 do Viện Giáo Dục IRED, Dự án Khuyến đọc Sách Hay và Sáng kiến OpenEdu tổ chức đã diễn ra trong không khí trang trọng và ý nghĩa tại Khách sạn REX, TP. HCM.
						a(href="#").xemthem Xem thêm 
				.new-book-page-list-item
					a(href="#").new-book-page-list-item-img
						img(src="img/layout/new-book/70407079_322013008599945_3236682917564383232_n-thumb.jpg", alt="11")
					.new-book-page-list-item-caption
						a(href="#") Kết quả giải Sách hay lần thứ IX, năm 2019
						p 12/12/1212
						.new-book-page-list-item-caption-description
							span Tiếp nối thành công của 8 mùa giải trước, Giải Sách Hay lần thứ IX, năm 2019 do Viện Giáo Dục IRED, Dự án Khuyến đọc Sách Hay và Sáng kiến OpenEdu tổ chức đã diễn ra trong không khí trang trọng và ý nghĩa tại Khách sạn REX, TP. HCM.
						a(href="#").xemthem Xem thêm 
				.new-book-page-list-item
					a(href="#").new-book-page-list-item-img
						img(src="img/layout/new-book/70407079_322013008599945_3236682917564383232_n-thumb.jpg", alt="11")
					.new-book-page-list-item-caption
						a(href="#") Kết quả giải Sách hay lần thứ IX, năm 2019
						p 12/12/1212
						.new-book-page-list-item-caption-description
							span Tiếp nối thành công của 8 mùa giải trước, Giải Sách Hay lần thứ IX, năm 2019 do Viện Giáo Dục IRED, Dự án Khuyến đọc Sách Hay và Sáng kiến OpenEdu tổ chức đã diễn ra trong không khí trang trọng và ý nghĩa tại Khách sạn REX, TP. HCM.
						a(href="#").xemthem Xem thêm 
		.col-12.col-lg-4
			.most-read
				.most-read-title đọc nhiều nhất
				.most-read-list
					a(href="#").most-read-list-item
						.most-read-list-item-img
							img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
						.most-read-list-item-caption
							h3 Cá tính của Nhật,đường đi của thiền
							p 12/12/1212
					a(href="#").most-read-list-item
						.most-read-list-item-img
							img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
						.most-read-list-item-caption
							h3 Cá tính của Nhật,đường đi của thiền
							p 12/12/1212
					a(href="#").most-read-list-item
						.most-read-list-item-img
							img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
						.most-read-list-item-caption
							h3 Cá tính của Nhật,đường đi của thiền
							p 12/12/1212
					a(href="#").most-read-list-item
						.most-read-list-item-img
							img(src="img/layout/new-book/thien-va-van-hoa-nhat-ban-thumb.jpg", alt="1")
						.most-read-list-item-caption
							h3 Cá tính của Nhật,đường đi của thiền
							p 12/12/1212