.new-book-list
	.row
		.col-12.col-md-6
			a(href="news-book-detail.html").new-book-list-big
				.new-book-list-big-img
					img(src="img/layout/new-book/news-mau-ban.jpeg", alt="news-mau-ban.jpeg")
				.new-book-list-big-caption
					.title "Máu bẩn" - vụ lừa đảo lớn nhất Thung lũng Silicon
					p 26/06/2019
		.col-12.col-md-6
			a(href="news-book-detail.html").new-book-list-big
				.new-book-list-big-img
					img(src="img/layout/new-book/news-ke-hoach-bi-ngo.jpg", alt="news-ke-hoach-bi-ngo.jpg")
				.new-book-list-big-caption
					.title Kế Hoạch Bí Ngô – Bí quyết để trở thành doanh nghiệp hàng đầu
					p 12/12/2019
		.col-12.col-sm-6.col-md-3
			a(href="news-book-detail.html").new-book-list-small
				.new-book-list-small-img
					img(src="img/layout/new-book/ikagai-hanh-trinh-di-tim-hanh-phuc.jpg", alt="ikagai-hanh-trinh-di-tim-hanh-phuc.jpg")
				.new-book-list-small-caption
					.sub-title Ikigai - hành trình đi tìm hạnh phúc
		.col-12.col-sm-6.col-md-3
			a(href="news-book-detail.html").new-book-list-small
				.new-book-list-small-img
					img(src="img/layout/new-book/mot-giac-mo-hoai-niem-ve-mien-au-tho-xa-tham.jpg", alt="mot-giac-mo-hoai-niem-ve-mien-au-tho-xa-tham.jpg")
				.new-book-list-small-caption
					.sub-title Một giấc mơ hoài niệm về miền ấu thơ xa thẳm
		.col-12.col-sm-6.col-md-3
			a(href="news-book-detail.html").new-book-list-small
				.new-book-list-small-img
					img(src="img/layout/new-book/qua-tang-cuoc-song.jpg", alt="qua-tang-cuoc-song.jpg")
				.new-book-list-small-caption
					.sub-title 'Quà tặng cuộc sống' giúp bạn trẻ vượt qua biến cố trong cuộc sống
		.col-12.col-sm-6.col-md-3
			a(href="news-book-detail.html").new-book-list-small
				.new-book-list-small-img
					img(src="img/layout/new-book/lolita.jpg", alt="lolita.jpg")
				.new-book-list-small-caption
					.sub-title Lolita: không đơn thuần như lời đồn về một câu chuyện ấu dâm
.new-book-page
	.row
		.col-12.col-lg-8
			.new-book-page-list
				.new-book-page-list-item
					a(href="news-book-detail.html").new-book-page-list-item-img
						img(src="img/layout/new-book/70407079_322013008599945_3236682917564383232_n-thumb.jpg", alt="11")
					.new-book-page-list-item-caption
						a(href="news-book-detail.html") Kết quả giải Sách hay lần thứ IX, năm 2019
						p 12/12/1212
						.new-book-page-list-item-caption-description
							span Tiếp nối thành công của 8 mùa giải trước, Giải Sách Hay lần thứ IX, năm 2019 do Viện Giáo Dục IRED, Dự án Khuyến đọc Sách Hay và Sáng kiến OpenEdu tổ chức đã diễn ra trong không khí trang trọng và ý nghĩa tại Khách sạn REX, TP. HCM.
						a(href="news-book-detail.html").xemthem Xem thêm
				.new-book-page-list-item
					a(href="news-book-detail.html").new-book-page-list-item-img
						img(src="img/layout/new-book/70407079_322013008599945_3236682917564383232_n-thumb.jpg", alt="11")
					.new-book-page-list-item-caption
						a(href="news-book-detail.html") Kết quả giải Sách hay lần thứ IX, năm 2019
						p 12/12/1212
						.new-book-page-list-item-caption-description
							span Tiếp nối thành công của 8 mùa giải trước, Giải Sách Hay lần thứ IX, năm 2019 do Viện Giáo Dục IRED, Dự án Khuyến đọc Sách Hay và Sáng kiến OpenEdu tổ chức đã diễn ra trong không khí trang trọng và ý nghĩa tại Khách sạn REX, TP. HCM.
						a(href="news-book-detail.html").xemthem Xem thêm 
				.new-book-page-list-item
					a(href="news-book-detail.html").new-book-page-list-item-img
						img(src="img/layout/new-book/70407079_322013008599945_3236682917564383232_n-thumb.jpg", alt="11")
					.new-book-page-list-item-caption
						a(href="news-book-detail.html") Kết quả giải Sách hay lần thứ IX, năm 2019
						p 12/12/1212
						.new-book-page-list-item-caption-description
							span Tiếp nối thành công của 8 mùa giải trước, Giải Sách Hay lần thứ IX, năm 2019 do Viện Giáo Dục IRED, Dự án Khuyến đọc Sách Hay và Sáng kiến OpenEdu tổ chức đã diễn ra trong không khí trang trọng và ý nghĩa tại Khách sạn REX, TP. HCM.
						a(href="news-book-detail.html").xemthem Xem thêm 
		.col-12.col-lg-4
			.most-read
				.most-read-title đọc nhiều nhất
				.most-read-list
					a(href="news-book-detail.html").most-read-list-item
						.most-read-list-item-img
							img(src="img/layout/new-book/news-ke-hoach-bi-ngo.jpg", alt="1")
						.most-read-list-item-caption
							.sub-title Kế Hoạch Bí Ngô – Bí quyết để trở thành doanh nghiệp hàng đầu
							p 12/12/1212
					a(href="news-book-detail.html").most-read-list-item
						.most-read-list-item-img
							img(src="img/layout/new-book/news-ke-hoach-bi-ngo.jpg", alt="1")
						.most-read-list-item-caption
							.sub-title Kế Hoạch Bí Ngô – Bí quyết để trở thành doanh nghiệp hàng đầu
							p 12/12/1212
					a(href="news-book-detail.html").most-read-list-item
						.most-read-list-item-img
							img(src="img/layout/new-book/news-ke-hoach-bi-ngo.jpg", alt="1")
						.most-read-list-item-caption
							.sub-title Kế Hoạch Bí Ngô – Bí quyết để trở thành doanh nghiệp hàng đầu
							p 12/12/1212
					a(href="news-book-detail.html").most-read-list-item
						.most-read-list-item-img
							img(src="img/layout/new-book/news-ke-hoach-bi-ngo.jpg", alt="1")
						.most-read-list-item-caption
							.sub-title Kế Hoạch Bí Ngô – Bí quyết để trở thành doanh nghiệp hàng đầu
							p 12/12/1212